.container-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: lightslategrey;
  height: 100vh;
}

.container-counter > nav {
  display: flex;
  gap: 1em;
}

button {
  padding: 1em;
  font-size: large;
  background-color: aliceblue;
  cursor: pointer;
}

button:hover {
  background-color: cornsilk;
}

input {
  padding: 0.5em;
}
